body {
    background-color: white;
    padding: 0px;
    margin: 0;
}

#particles-js{
    height: 500px;
    width: 100%;
    position: absolute;

}

.header-wrapper {
    background-position: 50% 50%;
    width: 100%;
    height: 800px;
    background: orange;
    z-index: 1;
    margin: auto;
}

.head-container {
    max-width: 960px;
    padding-top: 100px;
    margin: auto;
}

.logo-icon {
    border-radius: 50%;
    background-color: white;
    margin-top: 60px;
    height: 350px;
    width: 350px;
}

.header-pull-jptext {
    width: 25px;
    font-size: 30px;
    font-weight: bold;
    margin-top: -320px;
    margin-left: 245px;
}

#title-output {
    margin-left: 385px;
    margin-top: -170px;
    font-size: 50px;
    color: #CC6600;
}

.toaster-pop{
    text-align: center;
    margin-top: -145px;
    padding: 0px 30px 30px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.arrowdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.project-thumbnail-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
}

.project-thumbnail{
    flex: 0 0 25%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}

.project-thumbnail-title{   
    background-color: orange;
    display: inline-block;
    margin-top: 165px;
    margin-left: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1300px){
.project-thumbnail{
    flex: 0 0 50%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}
}

@media only screen and (max-width: 700px){
.project-thumbnail{
    flex: 0 0 100%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}
}

.bio-container{
    max-width: 960px;
    margin: auto;
}

.content{
    padding: 45px;
}


.skills-content{
    padding: 45px;
}

.lang{
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;

    border-radius: 50%;
    border-color: orange;
    border-style: solid;
}

.footer-wrapper{
    background-color: black;
}

.footer{
    max-width: 960px;
    padding: 0px 45px 0px;
    margin: auto;
    color: white;
}