body {
	background-color: white;
	padding: 0px;
    margin: 0;
}

.wrapper {
    height: 100vh;
    background: orange;
}

#particles-js{
    height: 100%;
    position: absolute;

}

.header-wrapper {
    background-position: 50% 50%;
    width: 100%;
    height: 78%;
    background: orange;
    z-index: 1;
    margin: auto;
}

.navi-ul{
	font-size: 25px;
	text-align: right;
	list-style-type: none;

	margin: 0;
    padding: 0;
	padding-left: 0px;
	}

.navi-li{
	max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    display: inline-block;
}

.navi-li a{
	display: inline-block;
	padding: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.navi-li a:hover {
    background-color: #111;
}

.head-container {
	max-width: 960px;
    margin: auto;
}

.logo-icon {
	border-radius: 50%;
    background-color: white;
    margin-top: 60px;
    height: 350px;
    width: 350px;
}

.header-pull-jptext {
	width: 25px;
    font-size: 30px;
    font-weight: bold;
    margin-top: -320px;
    margin-left: 245px;
}

#title-output {
	margin-left: 385px;
    margin-top: -200px;
    font-size: 50px;
    color: #CC6600;
}

.toaster-pop{
	text-align: center;
    margin-top: -100px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.project-thumbnail-row{
	display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
}

.project-thumbnail{
    flex: 0 0 25%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}

@media only screen and (max-width: 1300px){
.project-thumbnail{
    flex: 0 0 50%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}
}

@media only screen and (max-width: 700px){
.project-thumbnail{
    flex: 0 0 100%;
    height: 230px;
    background-position: 50% 50%;
    background-size: cover;
}
}

.bio-container{
	max-width: 960px;
	margin: auto;
}

.bio-content{
	background-color: green;
}

.lang{
	width: 100px;
	height: 100px;
	text-align: center;
	display: inline-block;

	border-radius: 50%;
	border-color: orange;
    border-style: solid;
}


.podcast-icon{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-image: url(images/512-03-C.png); 
	background-position: 50% 50%;
    background-size: cover;
    float: left;
}

.footer-wrapper{
	background-color: black;
}

.footer{
	max-width: 960px;
}

h1{
	font-family:
}

h2{

}


p{
	padding: 50px;
}

#58656d
	display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 144px;
    text-decoration: none;