body {
    background-color: white;
    padding: 0px;
    margin: 0;
}

#particles-js{
    height: 500px;
    width: 100%;
    position: absolute;

}

.header-wrapper {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 640px;
    z-index: 1;
    margin: auto;
}

.head-container {
    max-width: 960px;
    padding-top: 100px;
    margin: auto;
}

.logo-icon {
    background-color: red;
    height: 350px;
    display: flex;
}

#title-output {
    margin-left: 385px;
    margin-top: -170px;
    font-size: 50px;
    color: #CC6600;
}

.site-navigation{
    overflow: hidden;
    background-color: pink;
    width: 100%;
    top: 0;
}

.site-navigation-sticky{
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px black;
}

.site-navi-left{
    float: left;
}

.site-navi-right{
    float: right;
}

.navi-ul{
    font-size: 20px;
    text-align: right;

    margin: 0;
    padding: 0;
    padding-left: 0px;
}

.navi-li{
    display: inline-block;
}

.navi-li a{
    display: inline-block;
    padding: 22px;
    text-align: center;
    text-decoration: none;
}

.navi-li a:hover {
    background-color: #111;
}

.portfolio-thumbnail-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    background-color: lightgrey;
}

.portfolio-thumbnail{
    flex: 0 0 24%;
    height: 230px;
    margin: 5px;
    background-position: 50% 50%;
    background-size: cover;
}

.portfolio-thumbnail-title{   
    background-color: orange;
    display: inline-block;
    margin-top: 165px;
    margin-left: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1300px){
.portfolio-thumbnail{
    flex: 0 0 48%;
    height: 230px;
    margin: 5px;
    background-position: 50% 50%;
    background-size: cover;
}
}

@media only screen and (max-width: 700px){
.portfolio-thumbnail{
    flex: 0 0 99%;
    height: 230px;
    margin: 5px;
    background-position: 50% 50%;
    background-size: cover;
}
}

.bio-container{
    max-width: 960px;
    margin: auto;
}

.content{
    padding: 45px;
}

.portfolio-container{
    background-color: grey;
    padding: 30px;
    display: flex;
}

.portfolio-thumbnail-1{
   width: 257px;
    height: 230px;
    margin: 5px;
    background-position: 50% 50%;
    background-size: cover;
}

.what-do-icons{
    float: left; 
    width: 200px;}

.site-contact-left{
    float: left; 
    width: 50%;
    height: 100%;
    margin: 0;
}

.site-contact-right{
    margin: 0;
}

.footer-wrapper{
    background-color: black;
}

.footer{
    max-width: 960px;
    padding: 0px 45px 0px;
    margin: auto;
    color: white;
}

ul {
    list-style: none;
    }

ul img {
    display: inline-block;
    width: 5em;
    height: 5em;
    margin-right: 1em;
    float: left;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;