body {
	background-color: white;
}

.wrapper {
	width: 800px;
	margin: auto;
}

.header {
	width: 800px;
	display: inline-flex;
}

.logo-icon {
	height: 550px;
	width: 550px;
}

.pull-text-h1 {
	width: 25px;
	font-size: 45px;
	font-weight: bold;

	margin-top: -490px;
	margin-left: 400px; 
}

.pull-text-h2{
	width: 25px;
	font-size: 30px;
	font-weight: bold;

	margin-top: -315px;
	margin-left: 275px; 
}

.content {
	background-color: #f19e8e;
	border-bottom: 1px solid #f2f2f2;
	padding: 10px;
    margin-top: -86px;
}

.navigation{
	margin-top: -21px;
}

.projects {
	background-color: #98756f;
}

.projectContainer1{
	width: 255px;
	height: 150px;
	background-color: pink;
	display: inline-flex;
}
.projectContainer2{
	width: 255px;
	height: 150px;
	background-color: pink;
	display: inline-flex;	
}
.projectContainer3{
	width: 255px;
	height: 150px;
	background-color: pink;
	display: inline-flex;	
}

.navi-ul{
	list-style: none;
	font-size: 20px;
	margin-left: 0px;
	overflow: hidden;
	background-color: #98756f;
}

.navi-li{
	display: inline-block;
	text-align: center;
}

.navi-li a{
	display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 144px;
    text-decoration: none;
}

.navi-li a:hover {
    background-color: #111;
}

p{
	padding: 50px;
}

#58656d
